.nav-container {
  background-color: #202020;
  box-shadow: 0px 8px 8px rgb(0 0 0 / 10%);
  padding-top: 14px;
  padding-bottom: 14px;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 23px;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo {
  width: 40%;
}


.nav-link-container {
  width: 40%;
}

.nav-link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-link li {
  list-style: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s linear;
  letter-spacing: 1px;
  font-size: 1.1rem;
}

.nav-link li:hover {
  color: #EE5A3F;
}